# Dependency directories
node_modules/
dist/
build/

# Env files
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS
.DS_Store

# IDE and Editor folders
.vscode/
.idea/

# Qdrant local DB Storage
qdrant_local_db/
snapshots/
qdrant.log
.qdrant-initialized

# Coverage directory used by tools like istanbul
coverage/
.nyc_output/

# Optional npm cache directory
.npm/
